body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;

    align-items: center;
    justify-content: center;

    overflow: auto;
}

.logo-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-img{
    max-height: 80px;
}

.title-header{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;

    grid-row: 1;
    grid-column: 1 / 6;

    border: 2px solid rgb(0, 183, 255);
    border-radius: 5px;
    background-color: rgba(127, 255, 212, 0.350);
}

.upper-header{
    display: flex;
    flex-direction: row;
}

.bottom-header{
    font-size: large;
    max-width: 150em;
}

.navbar-area{
    padding: 5px;
    color: blue;
}


.scientist-grid{

    grid-row: 1 / 4;
    grid-column: 1 / 5;

    display: grid;
    
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;

    align-items: center;
    justify-content: center;

    margin-top: 50px;

    grid-auto-rows: minmax(100px, auto);
    overflow: auto;

}

.scientist-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 8px;
}

.aux-links-div{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-row: 2/4;
    grid-column: 5;

    border-left:  0.3rem solid black;

    max-width: 8em;

    padding: 0.35em;
    
}

.aux-links-text{
    font-size: 0.85em;
}